body {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.cabecalho {
  color: white;
  background-color: #556B2F;
  text-align: center;
  padding: 30px;
}

.cabecalho h3 {
  color: #F5F5DC;
}

.navbar-custom {
  background-color: rgba(85, 107, 47, 0.7);
}

.alinha {
  text-align: right;
}

section.bg-light .col-md-4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: justify;
}

section.bg-light h2 {
  font-size: 25px;
}

section.bg-light p {
  font-size: 16px;
}

.img-agro {
  width: 300px;
}

.br-3 {
  border-radius: 15px;
}

.imagens {
  display: flex;
  flex-wrap: wrap;        /* Permite quebrar linha */
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.imagens div {
  flex: 1 1 300px;         /* Ocupa pelo menos 300px e pode encolher/crescer */
  max-width: 300px;        /* Limita a largura para manter padrão */
}

.imagens img {
  height: auto;            /* Mantém a proporção certinha */
  border-radius: 10px;     /* Arredonda as bordas (opcional) */
  object-fit: cover;       /* Corta certinho sem distorcer */
}

.img-trator {
  width: 350px
}

.img-drone {
   width: 345px;
  height: 350px;
}

.img-uniao {
   width: 345px;
  height: 350px;
}

.footer {
  background-color: #556B2F;
  color: white;
  text-align: center;
  padding: 5px;
}
