body {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.cabecalho {
  color: white;
  background-color: #556B2F;
  text-align: center;
  padding: 30px;
}

.cabecalho h3 {
  color: #F5F5DC;
}

.navbar-custom {
  background-color: rgba(85, 107, 47, 0.7); /* Verde água customizado, pode trocar pelo tom que quiser */
}

.alinha {
  text-align: right;
}

section.bg-light .col-md-4   {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
}

section.bg-light h2 {
    font-size: 25px; /* Tamanho menor para os títulos */
}

section.bg-light p {
    font-size: 16px; /* Tamanho menor para os parágrafos */
}

.img-agro {
  width: 300px;
}

.br-3 {
  border-radius: 15px;
}

.img-card {
  max-height: 250px;
  object-fit: cover;
}

.img-slide {
  max-height: 400px;
  object-fit: cover;
}

.footer {
  background-color: #556B2F;
  color: white;
  text-align: center;
  padding: 5px;
}
